@font-face {
    font-family: 'Pashto Kror Asiatype';
    src: url('PashtoKrorAsiatype.woff2') format('woff2'),
        url('PashtoKrorAsiatype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

